VITE_API_TARGET=http://localhost:8000
VITE_VOCAB_PROXY_TARGET=https://vocab.staging.evidence-repository.org
VITE_KEYCLOAK_URL=https://auth.evidence-repository.org
VITE_KEYCLOAK_REALM=destiny
VITE_KEYCLOAK_CLIENT_ID=evidence-repo-ui-client-development
# VITE_MATOMO_CONTAINER_URL=https://cdn.matomo.cloud/futureevidence.matomo.cloud/container_<id>_dev_<hash>.js
VITE_FEEDBACK_FORM_URL=https://forms.gle/zH9fsNZk8BApTaVj9
VITE_ESEA_VOCABULARY_URL=https://vocab.staging.evidence-repository.org/published/019d40cf-2a63-77af-9828-c6a70647792c/1.1/vocabulary.jsonld
VITE_ESEA_CONTEXT_URL=https://vocab.staging.evidence-repository.org/published/019d40cf-2a63-77af-9828-c6a70647792c/1.1/context.jsonld
